In [55]:
import time
from bs4 import BeautifulSoup
from selenium import webdriver
import requests
import pandas as pd
#This tool is used for automating web-based application testing to verify that it performs expectedly.
#Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.
#The requests module allows you to send HTTP requests using Python

In [56]:
driver = webdriver.Chrome()
url = 'https://www.pararius.com/apartments/amsterdam?ac=1'
response = requests.get(url)
driver.maximize_window()
driver.get(url)

time.sleep(5)
content = driver.page_source.encode('utf-8').strip()
soup = BeautifulSoup(content, "html.parser")
lists = soup.find_all('section', class_="listing-search-item")

In [57]:
title = []
location = []
price = []
area = []

In [58]:
for list in lists:

    if list.find('a', class_="listing-search-item__link listing-search-item__link--title"):
        title.append(list.find('a', class_="listing-search-item__link listing-search-item__link--title").text.replace('\n', ''))
    else:
        title.append('')

    if list.find('div', class_="listing-search-item__sub-title"):
        location.append(list.find('div', class_="listing-search-item__sub-title").text.replace('\n', ''))
    else:
        location.append('')

    if list.find('div', class_="listing-search-item__price"):
        price.append(list.find('div', class_="listing-search-item__price").text.replace('\n', ''))
    else:
        price.append('')

    if list.find('ul', class_="illustrated-features illustrated-features--compact"):
        area.append(list.find('ul', class_="illustrated-features illustrated-features--compact").text.replace('\n', ''))
    else:
        area.append('')

In [59]:
data = pd.DataFrame({'title':title, 'location':location, 'price':price, 'area':area})
pd.set_option('display.max_columns', None)
print(data)

                                                title  \
0                           Apartment Deurloostraa...
1                           Apartment Nassaukade  ...
2                           Apartment Haarlemmer H...
3                           Apartment Esmoreitstra...
4                           Apartment Tweede Jan S...
5                           Apartment Sloterkade 1...
6                           Apartment Winthontstra...
7                           Apartment Koningslaan ...
8                           Apartment Amsteldijk 2...
9                           Apartment Reinier Clae...
10                          Apartment Reguliersdwa...
11                          Apartment Cornelis Ant...
12                          Apartment Johan van de...
13                          Apartment Lekstraat 16...
14                          Apartment Van Breestra...
15                          House Scheepmakerskade...
16                          Apartment Ennemaborg  ...
17                          Apartment Prinsengrach...
18                          Apartment Karel Doorma...
19                          Apartment Prins Hendri...
20                          Studio Beethovenstraat...
21                          Apartment Krommertstra...
22                          Studio Korte Lijnbaans...
23                          Apartment Roerstraat  ...
24                          Apartment Muntendamstr...
25                          Apartment Sarphatistra...
26                          Apartment Krommertstra...
27                          Apartment Buitenvelder...
28                          Apartment Warmoesstraa...
29                          Apartment Shackletonst...
30                          Apartment Bijlmerdreef...
31                          Apartment Dufaystraat ...

                                             location  \
0               1078 JJ Amsterdam (Scheldebuurt)  ...
1               1053 LL Amsterdam (Da Costabuurt) ...
2               1013 GM Amsterdam (Haarlemmerbuurt...
3               1055 CA Amsterdam (Erasmuspark)   ...
4               1074 CL Amsterdam (Oude Pijp)
5               1058 HM Amsterdam (Hoofddorppleinb...
6               1013 BR Amsterdam (Haarlemmerbuurt...
7               1075 AD Amsterdam (Willemspark)   ...
8               1074 HS Amsterdam (Oude Pijp)
9               1056 WE Amsterdam (Geuzenbuurt)   ...
10              1017 BJ Amsterdam (Grachtengordel-...
11              1071 VW Amsterdam (Museumkwartier)...
12              1087 BC Amsterdam (IJburg West)   ...
13              1079 EZ Amsterdam (Scheldebuurt)  ...
14              1071 ZL Amsterdam (Museumkwartier)...
15              1023 CA Amsterdam (Nieuwendammerdi...
16              1082 SM Amsterdam (Buitenveldert-W...
17              1015 DT Amsterdam (Grachtengordel-...
18               1055 VG Amsterdam (Landlust)
19              1012 TK Amsterdam (Burgwallen-Nieu...
20              1077 JN Amsterdam (Apollobuurt)   ...
21              1056 TS Amsterdam (Geuzenbuurt)   ...
22              1012 SL Amsterdam (Burgwallen-Nieu...
23              1078 LH Amsterdam (Scheldebuurt)  ...
24              1091 DV Amsterdam (Oosterparkbuurt...
25              1017 WS Amsterdam (De Weteringscha...
26              1056 TS Amsterdam (Geuzenbuurt)   ...
27              1082 VB Amsterdam (Buitenveldert-W...
28              1012 JD Amsterdam (Burgwallen-Oude...
29              1056 RM Amsterdam (Van Galenbuurt)...
30              1103 TW Amsterdam (Bijlmer Oost (E...
31              1075 GS Amsterdam (Willemspark)   ...

                                           price  \
0                   €2,495 per month
1                   €2,250 per month
2                   €2,100 per month
3                   €2,450 per month
4                   €2,350 per month
5                   €2,500 per month
6                   €2,250 per month
7                   €3,950 per month
8                   €2,850 per month
9                   €1,995 per month
10                  €1,600 per month
11                  €2,350 per month
12                  €1,700 per month
13                  €3,000 per month
14                  €4,500 per month
15                  €2,900 per month
16                  €1,950 per month
17                  €2,250 per month
18                  €1,595 per month
19                  €1,750 per month
20                    €900 per month
21                  €1,650 per month
22                    €975 per month
23                  €2,950 per month
24                  €1,900 per month
25                  €2,500 per month
26                  €1,650 per month
27                  €1,950 per month
28                  €2,150 per month
29                  €1,950 per month
30                  €1,750 per month
31                  €2,450 per month

                                    area
0                  80 m²3 roomsFurnished
1               106 m²3 roomsUpholstered
2                  75 m²3 roomsFurnished
3   80 m²3 roomsUpholstered or furnished
4                  60 m²3 roomsFurnished
5                95 m²3 roomsUpholstered
6                  72 m²3 roomsFurnished
7                83 m²3 roomsUpholstered
8                  83 m²3 roomsFurnished
9               100 m²4 roomsUpholstered
10                 39 m²2 roomsFurnished
11                 65 m²2 roomsFurnished
12                  47 m²1 roomFurnished
13                125 m²5 roomsFurnished
14              147 m²6 roomsUpholstered
15                101 m²4 roomsFurnished
16                 72 m²3 roomsFurnished
17                 60 m²2 roomsFurnished
18               51 m²2 roomsUpholstered
19               53 m²2 roomsUpholstered
20                18 m²1 roomUpholstered
21               30 m²2 roomsUpholstered
22                  16 m²1 roomFurnished
23              130 m²5 roomsUpholstered
24                 59 m²3 roomsFurnished
25                 79 m²3 roomsFurnished
26               30 m²2 roomsUpholstered
27                 88 m²3 roomsFurnished
28  65 m²2 roomsUpholstered or furnished
29               55 m²3 roomsUpholstered
30                 80 m²3 roomsFurnished
31                 70 m²3 roomsFurnished

In [60]:

data[['area','ROOM INFO']] = data['area'].str.split('m²',expand=True)

In [61]:
print(data)

                                                title  \
0                           Apartment Deurloostraa...
1                           Apartment Nassaukade  ...
2                           Apartment Haarlemmer H...
3                           Apartment Esmoreitstra...
4                           Apartment Tweede Jan S...
5                           Apartment Sloterkade 1...
6                           Apartment Winthontstra...
7                           Apartment Koningslaan ...
8                           Apartment Amsteldijk 2...
9                           Apartment Reinier Clae...
10                          Apartment Reguliersdwa...
11                          Apartment Cornelis Ant...
12                          Apartment Johan van de...
13                          Apartment Lekstraat 16...
14                          Apartment Van Breestra...
15                          House Scheepmakerskade...
16                          Apartment Ennemaborg  ...
17                          Apartment Prinsengrach...
18                          Apartment Karel Doorma...
19                          Apartment Prins Hendri...
20                          Studio Beethovenstraat...
21                          Apartment Krommertstra...
22                          Studio Korte Lijnbaans...
23                          Apartment Roerstraat  ...
24                          Apartment Muntendamstr...
25                          Apartment Sarphatistra...
26                          Apartment Krommertstra...
27                          Apartment Buitenvelder...
28                          Apartment Warmoesstraa...
29                          Apartment Shackletonst...
30                          Apartment Bijlmerdreef...
31                          Apartment Dufaystraat ...

                                             location  \
0               1078 JJ Amsterdam (Scheldebuurt)  ...
1               1053 LL Amsterdam (Da Costabuurt) ...
2               1013 GM Amsterdam (Haarlemmerbuurt...
3               1055 CA Amsterdam (Erasmuspark)   ...
4               1074 CL Amsterdam (Oude Pijp)
5               1058 HM Amsterdam (Hoofddorppleinb...
6               1013 BR Amsterdam (Haarlemmerbuurt...
7               1075 AD Amsterdam (Willemspark)   ...
8               1074 HS Amsterdam (Oude Pijp)
9               1056 WE Amsterdam (Geuzenbuurt)   ...
10              1017 BJ Amsterdam (Grachtengordel-...
11              1071 VW Amsterdam (Museumkwartier)...
12              1087 BC Amsterdam (IJburg West)   ...
13              1079 EZ Amsterdam (Scheldebuurt)  ...
14              1071 ZL Amsterdam (Museumkwartier)...
15              1023 CA Amsterdam (Nieuwendammerdi...
16              1082 SM Amsterdam (Buitenveldert-W...
17              1015 DT Amsterdam (Grachtengordel-...
18               1055 VG Amsterdam (Landlust)
19              1012 TK Amsterdam (Burgwallen-Nieu...
20              1077 JN Amsterdam (Apollobuurt)   ...
21              1056 TS Amsterdam (Geuzenbuurt)   ...
22              1012 SL Amsterdam (Burgwallen-Nieu...
23              1078 LH Amsterdam (Scheldebuurt)  ...
24              1091 DV Amsterdam (Oosterparkbuurt...
25              1017 WS Amsterdam (De Weteringscha...
26              1056 TS Amsterdam (Geuzenbuurt)   ...
27              1082 VB Amsterdam (Buitenveldert-W...
28              1012 JD Amsterdam (Burgwallen-Oude...
29              1056 RM Amsterdam (Van Galenbuurt)...
30              1103 TW Amsterdam (Bijlmer Oost (E...
31              1075 GS Amsterdam (Willemspark)   ...

                                           price  area  \
0                   €2,495 per month               80
1                   €2,250 per month              106
2                   €2,100 per month               75
3                   €2,450 per month               80
4                   €2,350 per month               60
5                   €2,500 per month               95
6                   €2,250 per month               72
7                   €3,950 per month               83
8                   €2,850 per month               83
9                   €1,995 per month              100
10                  €1,600 per month               39
11                  €2,350 per month               65
12                  €1,700 per month               47
13                  €3,000 per month              125
14                  €4,500 per month              147
15                  €2,900 per month              101
16                  €1,950 per month               72
17                  €2,250 per month               60
18                  €1,595 per month               51
19                  €1,750 per month               53
20                    €900 per month               18
21                  €1,650 per month               30
22                    €975 per month               16
23                  €2,950 per month              130
24                  €1,900 per month               59
25                  €2,500 per month               79
26                  €1,650 per month               30
27                  €1,950 per month               88
28                  €2,150 per month               65
29                  €1,950 per month               55
30                  €1,750 per month               80
31                  €2,450 per month               70

                          ROOM INFO
0                  3 roomsFurnished
1                3 roomsUpholstered
2                  3 roomsFurnished
3   3 roomsUpholstered or furnished
4                  3 roomsFurnished
5                3 roomsUpholstered
6                  3 roomsFurnished
7                3 roomsUpholstered
8                  3 roomsFurnished
9                4 roomsUpholstered
10                 2 roomsFurnished
11                 2 roomsFurnished
12                  1 roomFurnished
13                 5 roomsFurnished
14               6 roomsUpholstered
15                 4 roomsFurnished
16                 3 roomsFurnished
17                 2 roomsFurnished
18               2 roomsUpholstered
19               2 roomsUpholstered
20                1 roomUpholstered
21               2 roomsUpholstered
22                  1 roomFurnished
23               5 roomsUpholstered
24                 3 roomsFurnished
25                 3 roomsFurnished
26               2 roomsUpholstered
27                 3 roomsFurnished
28  2 roomsUpholstered or furnished
29               3 roomsUpholstered
30                 3 roomsFurnished
31                 3 roomsFurnished

In [62]:
data[['ROOM INFO','ROOMS AVAILABLE']] = data['ROOM INFO'].str.split(' ',1,expand=True)

In [63]:
print(data)

                                                title  \
0                           Apartment Deurloostraa...
1                           Apartment Nassaukade  ...
2                           Apartment Haarlemmer H...
3                           Apartment Esmoreitstra...
4                           Apartment Tweede Jan S...
5                           Apartment Sloterkade 1...
6                           Apartment Winthontstra...
7                           Apartment Koningslaan ...
8                           Apartment Amsteldijk 2...
9                           Apartment Reinier Clae...
10                          Apartment Reguliersdwa...
11                          Apartment Cornelis Ant...
12                          Apartment Johan van de...
13                          Apartment Lekstraat 16...
14                          Apartment Van Breestra...
15                          House Scheepmakerskade...
16                          Apartment Ennemaborg  ...
17                          Apartment Prinsengrach...
18                          Apartment Karel Doorma...
19                          Apartment Prins Hendri...
20                          Studio Beethovenstraat...
21                          Apartment Krommertstra...
22                          Studio Korte Lijnbaans...
23                          Apartment Roerstraat  ...
24                          Apartment Muntendamstr...
25                          Apartment Sarphatistra...
26                          Apartment Krommertstra...
27                          Apartment Buitenvelder...
28                          Apartment Warmoesstraa...
29                          Apartment Shackletonst...
30                          Apartment Bijlmerdreef...
31                          Apartment Dufaystraat ...

                                             location  \
0               1078 JJ Amsterdam (Scheldebuurt)  ...
1               1053 LL Amsterdam (Da Costabuurt) ...
2               1013 GM Amsterdam (Haarlemmerbuurt...
3               1055 CA Amsterdam (Erasmuspark)   ...
4               1074 CL Amsterdam (Oude Pijp)
5               1058 HM Amsterdam (Hoofddorppleinb...
6               1013 BR Amsterdam (Haarlemmerbuurt...
7               1075 AD Amsterdam (Willemspark)   ...
8               1074 HS Amsterdam (Oude Pijp)
9               1056 WE Amsterdam (Geuzenbuurt)   ...
10              1017 BJ Amsterdam (Grachtengordel-...
11              1071 VW Amsterdam (Museumkwartier)...
12              1087 BC Amsterdam (IJburg West)   ...
13              1079 EZ Amsterdam (Scheldebuurt)  ...
14              1071 ZL Amsterdam (Museumkwartier)...
15              1023 CA Amsterdam (Nieuwendammerdi...
16              1082 SM Amsterdam (Buitenveldert-W...
17              1015 DT Amsterdam (Grachtengordel-...
18               1055 VG Amsterdam (Landlust)
19              1012 TK Amsterdam (Burgwallen-Nieu...
20              1077 JN Amsterdam (Apollobuurt)   ...
21              1056 TS Amsterdam (Geuzenbuurt)   ...
22              1012 SL Amsterdam (Burgwallen-Nieu...
23              1078 LH Amsterdam (Scheldebuurt)  ...
24              1091 DV Amsterdam (Oosterparkbuurt...
25              1017 WS Amsterdam (De Weteringscha...
26              1056 TS Amsterdam (Geuzenbuurt)   ...
27              1082 VB Amsterdam (Buitenveldert-W...
28              1012 JD Amsterdam (Burgwallen-Oude...
29              1056 RM Amsterdam (Van Galenbuurt)...
30              1103 TW Amsterdam (Bijlmer Oost (E...
31              1075 GS Amsterdam (Willemspark)   ...

                                           price  area ROOM INFO  \
0                   €2,495 per month               80          3
1                   €2,250 per month              106          3
2                   €2,100 per month               75          3
3                   €2,450 per month               80          3
4                   €2,350 per month               60          3
5                   €2,500 per month               95          3
6                   €2,250 per month               72          3
7                   €3,950 per month               83          3
8                   €2,850 per month               83          3
9                   €1,995 per month              100          4
10                  €1,600 per month               39          2
11                  €2,350 per month               65          2
12                  €1,700 per month               47          1
13                  €3,000 per month              125          5
14                  €4,500 per month              147          6
15                  €2,900 per month              101          4
16                  €1,950 per month               72          3
17                  €2,250 per month               60          2
18                  €1,595 per month               51          2
19                  €1,750 per month               53          2
20                    €900 per month               18          1
21                  €1,650 per month               30          2
22                    €975 per month               16          1
23                  €2,950 per month              130          5
24                  €1,900 per month               59          3
25                  €2,500 per month               79          3
26                  €1,650 per month               30          2
27                  €1,950 per month               88          3
28                  €2,150 per month               65          2
29                  €1,950 per month               55          3
30                  €1,750 per month               80          3
31                  €2,450 per month               70          3

                  ROOMS AVAILABLE
0                  roomsFurnished
1                roomsUpholstered
2                  roomsFurnished
3   roomsUpholstered or furnished
4                  roomsFurnished
5                roomsUpholstered
6                  roomsFurnished
7                roomsUpholstered
8                  roomsFurnished
9                roomsUpholstered
10                 roomsFurnished
11                 roomsFurnished
12                  roomFurnished
13                 roomsFurnished
14               roomsUpholstered
15                 roomsFurnished
16                 roomsFurnished
17                 roomsFurnished
18               roomsUpholstered
19               roomsUpholstered
20                roomUpholstered
21               roomsUpholstered
22                  roomFurnished
23               roomsUpholstered
24                 roomsFurnished
25                 roomsFurnished
26               roomsUpholstered
27                 roomsFurnished
28  roomsUpholstered or furnished
29               roomsUpholstered
30                 roomsFurnished
31                 roomsFurnished

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            32 non-null     object
 1   location         32 non-null     object
 2   price            32 non-null     object
 3   area             32 non-null     object
 4   ROOM INFO        32 non-null     object
 5   ROOMS AVAILABLE  32 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB

In [65]:
data.head(5)

,title,location,price,area,ROOM INFO,ROOMS AVAILABLE
0,Apartment Deurloostraa...,1078 JJ Amsterdam (Scheldebuurt) ...,"€2,495 per month",80,3,roomsFurnished
1,Apartment Nassaukade ...,1053 LL Amsterdam (Da Costabuurt) ...,"€2,250 per month",106,3,roomsUpholstered
2,Apartment Haarlemmer H...,1013 GM Amsterdam (Haarlemmerbuurt...,"€2,100 per month",75,3,roomsFurnished
3,Apartment Esmoreitstra...,1055 CA Amsterdam (Erasmuspark) ...,"€2,450 per month",80,3,roomsUpholstered or furnished
4,Apartment Tweede Jan S...,1074 CL Amsterdam (Oude Pijp),"€2,350 per month",60,3,roomsFurnished

In [66]:
data.count()

title              32
location           32
price              32
area               32
ROOM INFO          32
ROOMS AVAILABLE    32
dtype: int64

In [67]:
data.isnull().sum()

title              0
location           0
price              0
area               0
ROOM INFO          0
ROOMS AVAILABLE    0
dtype: int64

In [68]:
data.isna().sum().sum()

0

In [69]:
print(data.count())
data1=data.drop_duplicates()
print(data.count())

title              32
location           32
price              32
area               32
ROOM INFO          32
ROOMS AVAILABLE    32
dtype: int64
title              32
location           32
price              32
area               32
ROOM INFO          32
ROOMS AVAILABLE    32
dtype: int64

In [70]:
data.groupby(['location','ROOM INFO']).size()

location                                                                  ROOM INFO
            1012 JD Amsterdam (Burgwallen-Oude Zijde)                     2            1
            1012 SL Amsterdam (Burgwallen-Nieuwe Zijde)                   1            1
            1012 TK Amsterdam (Burgwallen-Nieuwe Zijde)                   2            1
            1013 BR Amsterdam (Haarlemmerbuurt)                           3            1
            1013 GM Amsterdam (Haarlemmerbuurt)                           3            1
            1015 DT Amsterdam (Grachtengordel-West)                       2            1
            1017 BJ Amsterdam (Grachtengordel-Zuid)                       2            1
            1017 WS Amsterdam (De Weteringschans)                         3            1
            1023 CA Amsterdam (Nieuwendammerdijk/Buiksloterdijk)          4            1
            1053 LL Amsterdam (Da Costabuurt)                             3            1
            1055 CA Amsterdam (Erasmuspark)                               3            1
            1055 VG Amsterdam (Landlust)                                  2            1
            1056 RM Amsterdam (Van Galenbuurt)                            3            1
            1056 TS Amsterdam (Geuzenbuurt)                               2            2
            1056 WE Amsterdam (Geuzenbuurt)                               4            1
            1058 HM Amsterdam (Hoofddorppleinbuurt)                       3            1
            1071 VW Amsterdam (Museumkwartier)                            2            1
            1071 ZL Amsterdam (Museumkwartier)                            6            1
            1074 CL Amsterdam (Oude Pijp)                                 3            1
            1074 HS Amsterdam (Oude Pijp)                                 3            1
            1075 AD Amsterdam (Willemspark)                               3            1
            1075 GS Amsterdam (Willemspark)                               3            1
            1077 JN Amsterdam (Apollobuurt)                               1            1
            1078 JJ Amsterdam (Scheldebuurt)                              3            1
            1078 LH Amsterdam (Scheldebuurt)                              5            1
            1079 EZ Amsterdam (Scheldebuurt)                              5            1
            1082 SM Amsterdam (Buitenveldert-West)                        3            1
            1082 VB Amsterdam (Buitenveldert-West)                        3            1
            1087 BC Amsterdam (IJburg West)                               1            1
            1091 DV Amsterdam (Oosterparkbuurt)                           3            1
            1103 TW Amsterdam (Bijlmer Oost (E,G,K))                      3            1
dtype: int64

In [72]:
data.groupby(['price','ROOM INFO']).size()

price                                         ROOM INFO
                €1,595 per month              2            1
                €1,600 per month              2            1
                €1,650 per month              2            2
                €1,700 per month              1            1
                €1,750 per month              2            1
                                              3            1
                €1,900 per month              3            1
                €1,950 per month              3            3
                €1,995 per month              4            1
                €2,100 per month              3            1
                €2,150 per month              2            1
                €2,250 per month              2            1
                                              3            2
                €2,350 per month              2            1
                                              3            1
                €2,450 per month              3            2
                €2,495 per month              3            1
                €2,500 per month              3            2
                €2,850 per month              3            1
                €2,900 per month              4            1
                €2,950 per month              5            1
                €3,000 per month              5            1
                €3,950 per month              3            1
                €4,500 per month              6            1
                €900 per month                1            1
                €975 per month                1            1
dtype: int64